@media screen and (min-width: 1200px) {
  .content:not(.custom) {
    max-width: calc(100vw - 25rem) !important;
  }

  .page-edit, .page-nav {
    max-width: calc(100vw - 25rem) !important;
  }
}

@media screen and (max-width: 419px) {
  .content div[class*='language-'] {
    margin: 0.85rem 0 !important;
  }
}

h3, p {
  line-height: 2 !important;
}

html, body {
  -webkit-tap-highlight-color: transparent;
}